<% include partials/header %>

<div class="box" id="heading">

    <h1> <%= listTitle %> </h1>

</div>

<div class="box">

    <% for(var i = 0; i<itemsList.length; i++){ %>
    <div class="item">
        <form action="/<%= listTitle %>/delete" method="post">
            <input type="checkbox" name="checkbox" class="item" onChange="this.form.submit()"
                value="<%=itemsList[i]._id%>">
        </form>
        <p class="item"><%=itemsList[i].content%></p>
    </div>
    <%}%>
        <form class="item" action="/<%= listTitle %>" method="post">

            <input type="text" name="newItem" placeholder="New Item">
            <button type="submit" name="button">+</button>

        </form>
    </div>

</body>

</html>